CourseAllocationSystemClient/CourseAllocationSystemClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8050/CourseAllocationSystem?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8050/CourseAllocationSystem?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8050/CourseAllocationSystem?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseAllocationSystem" />
      <xsd:import schemaLocation="http://localhost:8050/CourseAllocationSystem?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:addSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_addSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:editSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_editSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:editSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNameOnUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:getNameOnUsername" />
  </wsdl:message>
  <wsdl:message name="IService1_getNameOnUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNameOnUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_storeFacultyChoice_InputMessage">
    <wsdl:part name="parameters" element="tns:storeFacultyChoice" />
  </wsdl:message>
  <wsdl:message name="IService1_storeFacultyChoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeFacultyChoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_storeCourseAllocation_InputMessage">
    <wsdl:part name="parameters" element="tns:storeCourseAllocation" />
  </wsdl:message>
  <wsdl:message name="IService1_storeCourseAllocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeCourseAllocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjectsSix_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjectsSix" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjectsSix_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjectsSixResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjectsFour_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjectsFour" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvenSubjectsFour_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEvenSubjectsFourResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjectsThree_InputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjectsThree" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjectsThree_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjectsThreeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjectsFive_InputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjectsFive" />
  </wsdl:message>
  <wsdl:message name="IService1_getOddSubjectsFive_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOddSubjectsFiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyChoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyChoices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyChoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyChoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyNames" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addAllocation_InputMessage">
    <wsdl:part name="parameters" element="tns:addAllocation" />
  </wsdl:message>
  <wsdl:message name="IService1_addAllocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAllocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_courseAllocations_InputMessage">
    <wsdl:part name="parameters" element="tns:courseAllocations" />
  </wsdl:message>
  <wsdl:message name="IService1_courseAllocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:courseAllocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:addFaculty" />
  </wsdl:message>
  <wsdl:message name="IService1_addFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFaculty" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_facultyCount_InputMessage">
    <wsdl:part name="parameters" element="tns:facultyCount" />
  </wsdl:message>
  <wsdl:message name="IService1_facultyCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:facultyCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_choiceCount_InputMessage">
    <wsdl:part name="parameters" element="tns:choiceCount" />
  </wsdl:message>
  <wsdl:message name="IService1_choiceCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:choiceCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteChoices_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteChoices" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteChoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteChoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteAllocation_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllocation" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteAllocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSemestertype_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSemestertype" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSemestertype_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSemestertypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSemesterType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSemesterType" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSemesterType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSemesterTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSemesterType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSemesterType" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSemesterType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSemesterTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addSubject" message="tns:IService1_addSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addSubjectResponse" message="tns:IService1_addSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editSubject" message="tns:IService1_editSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editSubjectResponse" message="tns:IService1_editSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteSubject" message="tns:IService1_deleteSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteSubjectResponse" message="tns:IService1_deleteSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNameOnUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNameOnUsername" message="tns:IService1_getNameOnUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNameOnUsernameResponse" message="tns:IService1_getNameOnUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeFacultyChoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/storeFacultyChoice" message="tns:IService1_storeFacultyChoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/storeFacultyChoiceResponse" message="tns:IService1_storeFacultyChoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeCourseAllocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/storeCourseAllocation" message="tns:IService1_storeCourseAllocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/storeCourseAllocationResponse" message="tns:IService1_storeCourseAllocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllSubjects" message="tns:IService1_getAllSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllSubjectsResponse" message="tns:IService1_getAllSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEvenSubjects" message="tns:IService1_getEvenSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEvenSubjectsResponse" message="tns:IService1_getEvenSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjectsSix">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEvenSubjectsSix" message="tns:IService1_getEvenSubjectsSix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEvenSubjectsSixResponse" message="tns:IService1_getEvenSubjectsSix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjectsFour">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEvenSubjectsFour" message="tns:IService1_getEvenSubjectsFour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEvenSubjectsFourResponse" message="tns:IService1_getEvenSubjectsFour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOddSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOddSubjects" message="tns:IService1_getOddSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOddSubjectsResponse" message="tns:IService1_getOddSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOddSubjectsThree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOddSubjectsThree" message="tns:IService1_getOddSubjectsThree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOddSubjectsThreeResponse" message="tns:IService1_getOddSubjectsThree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOddSubjectsFive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOddSubjectsFive" message="tns:IService1_getOddSubjectsFive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOddSubjectsFiveResponse" message="tns:IService1_getOddSubjectsFive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyChoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacultyChoices" message="tns:IService1_GetFacultyChoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacultyChoicesResponse" message="tns:IService1_GetFacultyChoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacultyNames" message="tns:IService1_GetFacultyNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacultyNamesResponse" message="tns:IService1_GetFacultyNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAllocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addAllocation" message="tns:IService1_addAllocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addAllocationResponse" message="tns:IService1_addAllocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="courseAllocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/courseAllocations" message="tns:IService1_courseAllocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/courseAllocationsResponse" message="tns:IService1_courseAllocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addFaculty" message="tns:IService1_addFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addFacultyResponse" message="tns:IService1_addFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteFaculty" message="tns:IService1_deleteFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteFacultyResponse" message="tns:IService1_deleteFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="facultyCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/facultyCount" message="tns:IService1_facultyCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/facultyCountResponse" message="tns:IService1_facultyCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="choiceCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/choiceCount" message="tns:IService1_choiceCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/choiceCountResponse" message="tns:IService1_choiceCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteChoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteChoices" message="tns:IService1_deleteChoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteChoicesResponse" message="tns:IService1_deleteChoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAllocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteAllocation" message="tns:IService1_deleteAllocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteAllocationResponse" message="tns:IService1_deleteAllocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSemestertype">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSemestertype" message="tns:IService1_AddSemestertype_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSemestertypeResponse" message="tns:IService1_AddSemestertype_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSemesterType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSemesterType" message="tns:IService1_GetSemesterType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSemesterTypeResponse" message="tns:IService1_GetSemesterType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSemesterType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSemesterType" message="tns:IService1_DeleteSemesterType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSemesterTypeResponse" message="tns:IService1_DeleteSemesterType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/addSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/editSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNameOnUsername">
      <soap:operation soapAction="http://tempuri.org/IService1/getNameOnUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeFacultyChoice">
      <soap:operation soapAction="http://tempuri.org/IService1/storeFacultyChoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeCourseAllocation">
      <soap:operation soapAction="http://tempuri.org/IService1/storeCourseAllocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/getEvenSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjectsSix">
      <soap:operation soapAction="http://tempuri.org/IService1/getEvenSubjectsSix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvenSubjectsFour">
      <soap:operation soapAction="http://tempuri.org/IService1/getEvenSubjectsFour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOddSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/getOddSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOddSubjectsThree">
      <soap:operation soapAction="http://tempuri.org/IService1/getOddSubjectsThree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOddSubjectsFive">
      <soap:operation soapAction="http://tempuri.org/IService1/getOddSubjectsFive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyChoices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacultyChoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyNames">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacultyNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAllocation">
      <soap:operation soapAction="http://tempuri.org/IService1/addAllocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="courseAllocations">
      <soap:operation soapAction="http://tempuri.org/IService1/courseAllocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFaculty">
      <soap:operation soapAction="http://tempuri.org/IService1/addFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFaculty">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="facultyCount">
      <soap:operation soapAction="http://tempuri.org/IService1/facultyCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="choiceCount">
      <soap:operation soapAction="http://tempuri.org/IService1/choiceCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteChoices">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteChoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllocation">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteAllocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSemestertype">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSemestertype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSemesterType">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSemesterType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSemesterType">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSemesterType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8050/CourseAllocationSystem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>